.hometitle{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}

.searchbox{
  height: 50px;
  line-height: 40px;
  margin-left: 5px;
  padding-left: 40px;
}
.searchbox span{
  font-size: 20px;
  margin-top: 14px;
  float: left;
}
.searchbox i{
  margin-top: 10px;
  float: left;
}
.usersearch{
  float: left;
  margin: 10px 0 0 10px;
  line-height: 40px;
  font-size: 12px;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.pageturn{
  float: right;
}
